body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: blanchedalmond;
}

header {
  background-color: #FFA07A;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  background-color: #FF7F50;
  display: inline-block;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  /* display: inline-block;
  width: 100%; */
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #000;
}

main {
  background-color: gold;
  font-size: 14px;
}

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  background-color: #FF7F50;

}

a {
  color: #000;
  font-weight: 600;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

p {
  line-height: 1.2;
  color: #000;
}
